*{
    margin: 0;
    padding: 0%;
    background-color: ghostwhite;
    
   
}



.body {
    padding: 10px;
    line-height: 18px;
    line-height: 21px;
    size: 468px 2516.520px;
    padding: 20px;
}

.body h3 {
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.qanda button {
    padding: 1px 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-color: #F89D2F;
    box-shadow: none;
}